body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}


@keyframes dyinglight{
    15%  {transform: scale(1.6)}
    50%  {transform: rotate(-89deg)}
    100% {transform: rotate(-90deg)}
}

.t_dl{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.t_dl__square{
    display: block;
    width: 50px;
    height: 50px;
    // background-image: url(/images/t_logo.png);
    // background-size: cover; 
    background: red;
}

.t_dl__container{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform-origin: 50% 50% 0;
    animation: dyinglight 1s ease infinite;
    backface-visibility: hidden;
  
}
 
.t_dl__corner--top:before,
.t_dl__corner--top:after,
.t_dl__corner--bottom:before,
.t_dl__corner--bottom:after {
    position: absolute;
    width: ceil(50px/3);
    height:ceil(50px/3);;
    color:#03A9F4;
    content: '';
}


.t_dl__corner--top::before{
    border-left: 1px solid;
    border-top: 1px solid;
    top: ceil(ceil(50px/3)/3);
    left: ceil(ceil(50px/3)/3);
}
      

.t_dl__corner--top::after{
    border-right: 1px solid;
    border-top: 1px solid;
    top:  ceil(ceil(50px/3)/3);
    right: ceil(ceil(50px/3)/3);
}

.t_dl__corner--bottom::before{
    border-left: 1px solid;
    border-bottom: 1px solid;
    bottom:  ceil(ceil(50px/3)/3);
    left:  ceil(ceil(50px/3)/3);
}


.t_dl__corner--bottom::after{
    border-right: 1px solid;
    border-bottom: 1px solid;
    bottom:  ceil(ceil(50px/3)/3);
    right:  ceil(ceil(50px/3)/3);
}


