@import 'assets/scss/main.scss';

.try_part {
  padding: 71px 79px;
  background: transparent linear-gradient(93deg, #53D1EF 0%, #1976D2 100%) 0% 0% no-repeat padding-box;

  .part {
    display: flex;
    justify-content: center;
    align-items: center;

    .now_title {
      font-size: 48px;
      color: white;
      min-height: 58px;
      display: flex;
      align-items: center;
      font-family: 'Proxima Nova';
      font-weight: bold;
    }

    .see_brand_button {
      cursor: pointer;
      text-align: center;
      color: white;
      // font-size: $fnt18;
      font-size: 16px;
      width: 215px;
      height: 84px;
      background: $blue_color;
      box-shadow: 0px 3px 6px $grey_shadow;
      border: 2px solid $blue_color;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 36px;
      font-family: 'SemiBold Proxima Nova';
      letter-spacing: 0;
      font-size: 18px;
    }

    .download_title {
      //padding-left: 10px;
      font-size: 18px;
      text-align: center;
    }

  }
}
@media (max-width: 768px) {
  .try_part {
    padding: 71px 20px;
  }
  .part {
    flex-wrap: wrap;
  }

}
@media (max-width: 664px) {
  .try_part {
    padding: 71px 20px;
  }
  .part {
    flex-wrap: wrap;
  }
  .see_brand_button {
    margin-top: 33px;
    margin-left: 0!important;
  }

}
@media (max-width: 425px) {
  .try_part {
    padding: 33px 20px 49px;
  }
  .now_title {
    font-size: 44px!important;
  }
  .see_brand_button {
    margin-top: 33px;
    margin-left: 0!important;
    width: 100%!important;
  }
}