@import 'assets/scss/main.scss';

.introduce{
    width: 100%;
    background: transparent linear-gradient(93deg, #2488D8 0%, #46B8DE 100%) 0% 0% no-repeat padding-box;
    .inner_introduce{
        width: 1440px;
        height: 100%;
        margin: 0 auto;
        padding: 104px 79px 104px 79px;
    }
}