@import 'assets/scss/main.scss';

.compare_inner {
  max-width: 1440px;
  //overflow: hidden;
  //display: flex;
  display: grid;
  grid-template-columns: 602px calc(100% - 602px);
  margin: auto;
  height: 100%;
  padding: 0px;
}

.text {
  display: inline-block;
  //width: 30%;
  //min-width: 315px;

  p {
    font-size: 72px;
    color: $dark_grey;
    max-width: 100%;
    margin: 82px 0 18px 0;
    max-width: 100%;
    font-size: 78px;
    line-height: 1;
    letter-spacing: -1.56px;
    font-family: 'ExtraBold Proxima Nova';
    color: white;
  }

  .description {
    width: 92%;
    font-size: $fnt22;
    border-left: 3px solid #03a9f4;
    padding-left: 17px;
    letter-spacing: 0;
    color: #FFFFFF;
    line-height: 1.2;
    opacity: 1;
    font-family: 'Proxima Nova';
    max-width: 472px;
  }
}

.photos {
  width: 1500px;
  max-width: 1500px;
  position: relative;
  //margin: 82px 0 0 auto;
  overflow: hidden;
  //margin-right:  -79px;
  //padding-right: 103px;
  //min-width: 680px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/object_devices.png");

  .cards,
  .background {
    width: 100%;
  }

  .mocup,
  .photo {
    position: absolute;
    bottom: 0;
    right: -148px;
    width: 116%;
  }
}

.compare_anything_part {
  color: $white_background;
  background: transparent linear-gradient(268deg, $gradnt_dark_blue1 0%, $gradnt_dark_blue2 100%) 0% 0% no-repeat padding-box;
  //padding-left: 79px;
  height: 762px;
  //overflow: hidden;
  //display: flex;
  //min-width: 1570px;

  .text {
    padding-left: 79px;

    .description {
      border-color: $white_background;
    }

    h1 {
      color: $white_background;
    }

    .start {
      width: 239px;

      height: 84px;
      background-color: $gradnt_light_blue1;
      box-shadow: 0px 3px 6px $grey_shadow;
      border-radius: 6px;
      font-size: $fnt18;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 61px;
      cursor: pointer;
      font-family: 'SemiBold Proxima Nova';
    }
  }

  .photos {
    margin-top: 0;

    .screen1,
    .screen2 {
      //position: absolute;
    }

    .screen1 {
      //top: 160px;
      //right: -170px;
    }

    .screen2 {
      //top: -144px;
      //right: 170px
    }
  }
}

@media (max-width: 1024px) {
  .compare_inner {
    max-width: 1440px;
    //overflow: hidden;
    //display: flex;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    margin: auto;
    height: 100%;
    padding: 0 79px;
  }

  .photos {
    //width: 60%;
    position: relative;
    margin: 0 -79px;
    overflow: hidden;
    //padding-right: 103px;
    //min-width: 680px;
    background-image: url("../../../assets/images/object_devices.png");
    height: 500px;

    .cards,
    .background {
      width: 100%;
    }

    .mocup,
    .photo {
      position: absolute;
      bottom: 0;
      right: -148px;
      width: 116%;
    }
  }

  .compare_anything_part {
    height: auto;
  }
}

@media (max-width: 566px) {
  .text {
    h1 {
      font-size: 46px;
    }
  }

}

@media (max-width: 425px) {
  .compare_inner {
    padding: 0 20px;
  }

  .text {

    h1 {
      font-size: 46px;
      margin: 75px 0 18px 0;
    }
  }

  .photos {
    margin: 0 -20px;
  }

  .start {
    width: 100% !important;
  }

  .description {
    font-size: 18px !important;
  }

}